*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}

a{
	text-decoration: none;
}
body,html{
    width: 100%;
    height: 100%;
    background-color: #eaeaea;
}
#wrap{
    width: 100%;
    height: 100%;
}

#contents{
    margin: 10px auto;
    width: 1000px;
    height: 700px;
    overflow: hidden;
}

.img_wrap{
    float: left;
    width: 500px;
    height: 800px;
    background-color: #000;
}

.Order_wrap{
    float: left;
    width: 500px;
    height: 800px;
}

.img_wrap>img{
    display: block;
    width: 437px;
    height: 609px;
    margin: 45.5px auto;

}
.Title{
    width: 100%;
    height: 200px;
    background-color: rgb(173, 184, 194);
}
.section_wrap{
    position: relative;
    width: 100%;
    height: 400px;
}

.section1 ,.section2{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    width: 80%;
    height: 30px;
}

.section1{
    top: 20px;
    z-index: 500;
}
.section2{
    top: 60px;
    z-index: 400;
}

.Put_article{
    position: absolute;
    left: 50%;
    top: 110px;
    transform: translateX(-50%);
    width: 80%;
    height: auto;
}
.Put_article>.Put_wrap{
    width: 100%;
    height: 240px;
}

.Put_wrap>.title{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    box-sizing: border-box;
    background-color: #ddd;
    border: 1px solid #000;
}

.Put_wrap>.put_list{
    position: relative;
    width: 100%;
    height: 190px;
    box-sizing: border-box;
    /* padding-top: 20px;
    padding-left: 20px; */
    overflow: hidden;
    background-color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.put_list>ul{
    position: absolute;
    width: 100%;
}

.put_list .product{
    position: relative;
    width: 100%;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    padding-left: 10px;
    border-bottom: 1px solid #eaeaea;
    color: #000;
}

.product > div{
    position: absolute;
    top: 50%;
    box-sizing: border-box;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 1px solid #eaeaea;
    text-align: center;
    box-shadow: 1px 1px 1px #eaeaea;
}

.product .count{
    line-height: 20px;
    right: 70px;
    font-size: 12px;
}

.product>div a{
    display: block;
    width: 100%;
    line-height: 18px;
}

.product > .add{
    right: 40px;
}
.product > .remove{
    right: 10px;
}

.product > .add:hover , .product > .remove:hover{
    background-color: #ddd;
}



.Put_article>.Total_price_wrap{
    width: 100%;
    height: 40px;
}

.Total_price_wrap>div{
    float: left;
    display: block;
    line-height: 40px;
    height: 40px;
    box-sizing: border-box;  
    background-color: #ddd;
    font-size: 14px;
    padding-left: 10px;
    border:1px solid #000;
}
.Total_price_wrap>.Total_price{
    width: 25%;
}
.Total_price_wrap>.Total_price_text{
    width: 75%;
    border-left: none;
}

.Total_price{
    height: 40px;
}

.gnb{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
}

.gnb>li>a::before{
    display: block;
    position: absolute;
    right: 5px;
    top: 0px;
    content: "\e943";
    font-family: "xeicon";
    font-size: 25px;
    color: rgba(0, 0, 0, 0.5);
}

.gnb>li>a.special:before{
    content: "\e946";
}

.gnb a{
    display: block;
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    padding-left: 20px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    z-index: 100;
    color: #000;
    font-size: 15px;
    background-color: #fff;
}
.transparency{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0, .5);
}

.sub{
    display: none;
}

.sub a{
    border-top: none;
}

.select_button{
    width: 100%;
    height: 210px;
    box-sizing: border-box;
    padding-top: 30px;
}

.select_button>div{
    width: 450px;
    height: 50px;
    margin: 0px auto;
}

.select_button>div>div{
    width: 220px;
    height: 50px;
    box-sizing: border-box;
    text-align: center;
    line-height: 50px;
    font-weight: 600;
    cursor: pointer;
}

.shopping_basket{
    float: left;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    color: #000;
}

.shopping_basket:hover{
    color: rgba(0, 0, 0,.5);
}

.buy{
    float: right;
    background-color: #2e8de5;
    border: 1px solid #217fd7;
    color: #fff;
}

.buy:hover{
    color: rgba(0, 0, 0,.5);
}