#Car_wrap{
    width: 500px;
    height: 30px;
    box-sizing: border-box;
    background-color: #eaeaea;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

#Car_wrap:first-child{
    border-top: 1px solid #000;
}

#Car_wrap>div{
    float: left;
    height: 30px;
    padding-left: 5px;
    box-sizing: border-box;
    line-height: 30px;
}

#Car_wrap>.car_num{ 
    width: 15%;
}
#Car_wrap>.car_name{
    width: 40%;
    border-left: 1px solid rgba(0, 0, 0, 0.7);
}
#Car_wrap>.car_mileage{
    width: 40%;
    border-left: 1px solid rgba(0, 0, 0, 0.7);
}